.simple-row {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
}

.simple-column {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
}


.test {
  background-color: pink;
  margin-bottom: 10px;
}

.tempFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchBar {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
