body {
  background-color: black;
  padding: 0;
  margin: 0;
}

.text {
  color: black;
}

.hamburguer {
  border-radius: 2px;
  padding: 5px;
  border: 1px solid grey;
}

.hamburguer-container {
  padding-left: 15px;
  border-left: .5px solid #444;
  margin-left: 5px;
}

.simple-row {
  display: flex;
  flex-direction: row;
}

.simple-column {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
}

.space-centralized {
  align-items: center;
  justify-content: space-around;
}


.padding-box {
  padding: 5px 0;
}

.user-header-container {
  border-radius: 3px;
}

.padding-test {
  padding: 0 16px;
}

.orange-box {
  padding: 10px;
  border-radius: 3px;
  height: 25px;
  background-color: orange;
}

.searchBar {
  border-radius: 5px;
  height: 20px;
  background-position: 10px 12px;
  background-repeat: no-repeat;
  max-width: 20%;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #ddd;
}

.loading {
  grid-area: loading;
}

.posts-container {
  grid-area: posts-container;
}

.header-actions {
  grid-area: header-actions;
  place-self: center stretch;
}
.header-user-actions {
  grid-area: header-user-actions;
}

.footer-links {
  grid-area: footer-links;
}
.footer-infos {
  grid-area: footer-infos;
}

.hexagon-label {
  position: absolute;
  font-size: 10px;
  top: 15%;
  left: 20%;
}

.space {
  margin: 40px
}


.wrapper {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: [empty-space] 20% [start-column] 1fr [end-column] 1fr [empty-space] 20%;
  grid-template-rows: [header] 80px [post-body] 1fr [loading] 120px[footer] 120px;
  grid-template-areas:
   ". header-actions header-actions ."
   ". posts-container posts-container ."
   ". loading loading ."
   ". footer-infos footer-links .";
  background-color: #444; /*  remove it later */
  color: #444;
}

.box {
  background-color: #fff; /*  remove it later */
  color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.header {
  background-color: #999;
}

.circle {
  z-index: 10;
  box-shadow: inset 0 0 0 1px white;
  position: absolute;
  top: -10.545px;
  left: -4px;
  width: 41px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #fff;
}

.hexagon {
  margin-right: 20px;
  position: relative;
  width: 35px;
  height: 20.21px;
  background-color: #fa4b00;
  margin: 10.10px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 17.5px solid transparent;
  border-right: 17.5px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 10.10px solid #fa4b00;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 10.10px solid #fa4b00;
  border-radius: 0 0 200px 200px;
}

.vote-container {
  max-height: 60px;
  border-radius: 1px;
  border: 1px solid lightgrey; /* separet */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.vote-icon {
  padding-bottom: 5px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid lightgrey;  /* separet */
  width: 100%;
  padding-left: 3px;
  padding-right: 3px;
  margin: 0 8px;
}

.defaultText {
  font-size: 20px;
}

.body-post-grid {
  display: grid;
  grid-template-rows: [site] 1fr [post] 1fr [info] 1fr;
  grid-template-areas:
  "site"
  "post"
  "info";
}

.body-site-grid {
  grid-area: site;
}

.body-title-grid {
  grid-area: post;
  font-size: 20px;
  margin-bottom: 5px;
}

.body-footer-grid {
  grid-area: info;
  display: flex;
  flex-direction: row;
  align-self: end;
}

.border-padding {
  border-right: 1px solid lightgrey;
  padding-right: 2%;
}

.post-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
}

.text-category {
  border-radius: 25px;
  padding: 5px 10px;
  background-color: red;
  font-size: 15px;
  text-align: center;
}

.info-time-text {
  white-space:nowrap;
  font-size: 11px;
  color: grey;
  padding-left: 5px;
}

.info-text {
  white-space:nowrap;
  font-size: 15px;
  text-decoration: underline;
  padding-left: 5px;
  color: red;
}

.default-posts-margin {
  margin-bottom: 35px;
}

.bullet {
  color: grey;
  padding-left: 5px;
}

.ballon {
  color: red;
  padding-left: 15px;
}
